<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
<form th:action="@{/profesores/buscar}" method="POST">
	<h1 th:text="${titulo}"></h1>
	<div>
		<label for="idprofesor">ID profesor</label>
		<div>
			<input type="number" name="idprofesor" id="idprofesor" th:value="${profesor.idProfesor}">
		</div>
		<div th:if="${error != null && error.containsKey('idprofesor')}" th:text="${error.idProfesor}"></div>

	</div>
	<div>
		<div>
			<input type="submit" value="Buscar">
		</div>
	</div>
</form>
</body>

</html>